
@font-face {
    font-family:'Staatliches';
    src: url(Staatliches/Staatliches-Regular.ttf);
}

@font-face {
     font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}



:root{
    --branco-faiup: #E7EFF1;
    --roxo-faiup: #1F0D41;
    --rosa-faiup: #702A57;
    --laranja-faiup: rgb(165, 93, 82);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #F6F2FC;
}
.banner{
    height: 100vh;
    background-image:linear-gradient(90deg, rgba(31,13,65,0.9) 0%, rgba(31,13,65,0.9) 0%, rgba(112,42,87,0.9) 100%), url(img/banner.png);
    background-color: #1F0D41;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: auto;
}

.primeiro-banner{
    height: 100vh;
    background-color: #1F0D41;
    background-image:linear-gradient(90deg, rgba(31,13,65,0.9) 0%, rgba(112,42,87,0.9) 0%, rgba(112,42,87,0.5) 100%), url(img/banner2.png);
}

#botao-anterior, #botao-proximo{ 
    top:50%;
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
  }
  
  #botao-anterior{
   
    left: 7%;
  }
  
  #botao-proximo{
    right: 7%;
  }
  
  #botao-anterior svg, #botao-proximo svg{
    fill: #ffffff76;
  }


header{
    padding: 15px;
  height: 160px;

}

header .container-grid{
      display: flex;
  justify-content: space-between;
 align-items: center;
}

header .container-grid button{
    display: none;
}



.menu{
    padding: 2px;
    background: linear-gradient(90deg, rgba(231, 239, 241, 0.286) 0%, rgba(231, 239, 241, 0.095)100%);
    border-radius: 10px;
    width: 80vw;
    display: flex;
   justify-content:space-around;
   align-items: center;
   text-align: center;
   margin: auto;
   
}

.menu svg{
    width: 50px;
}

.menu a{
    color: var(--branco-faiup);
    text-decoration: underline transparent;  
    transition: ease-in-out 500ms;
    font-size: 20px;
    font-family: 'Staatliches';

}

.menu a:hover{
    text-decoration: underline;
    font-size: 26px;
    transition: ease 500ms;
  

}
.menu img{
    width: 100px;
}

.conteudo-banner {
    margin-top: 150px;
    display: flex;
   align-items: center;

    flex-direction: column;
}

.conteudo-banner img{
    width: 230px;
}

.conteudo-banner span{
    color: var(--branco-faiup);
font-family:  'Staatliches';
font-size: 36px;
}

.menu-fechado {
    display: none;
}

#icones-menos{
    display: none;
} 

#sobre {
    padding-bottom: 50px;
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

h2{
    font-size: 48px;
    text-align: center;
    margin: 60px;
    font-family: 'Staatliches';
    color:var(--rosa-faiup) ;
}


.conteudo-secao-sobre{
    background-color:var(--roxo-faiup);
    height: 600px;
    width: 70vw;
    max-height: 700px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.336);
   


}

.nuvem-sobre {

    position: absolute;
    left: -190px;
    top: -100px;
}

.sobre-a-empresa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-a-empresa p{
    width: 50%;
    font-size: 24px;
    color: var(--branco-faiup);
    font-family: 'Staatliches';
    text-align: center;
    
   
  
}

.sobre-a-empresa img{
    width: 350px;
}

.botao-portfolio{
    border: 1px solid;
    border-color: #E7EFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(90deg, rgba(231, 239, 241, 0.318) 0%, rgba(231, 239, 241, 0.077)100%);
    width: 200px;
    height: 50px;
    transition: ease-in-out 500ms;
}

.botao-portfolio a{
    text-align: center;
    text-decoration: transparent;
    font-family: 'Staatliches';
    
    color: var(--branco-faiup);
}
.botao-portfolio:hover{
    height: 60px;
    width: 220px;
    font-size: 18px;
    transition: ease 500ms;
}




.cases-de-sucesso{
    width: 97vw;
    margin: 0px auto;
    position: relative;
}

.nuvem-cases{
    width: 400px;
    position: absolute;
    top: -200px;
    left: 80px;
}


.cards{
    display: flex;
    margin: 10px 145px;

}


.conteudo-card{
    background-color: var(--roxo-faiup);
    max-width: 600px;
    height: 550px;
    width: 350px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.336);
}

.card img{
    width: 90%;
}

.card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card button{
    border: none;
    margin-top: 40px ;
    color: var(--branco-faiup);
    font-family: 'Staatliches';
    font-size: 24px;
    background-color: var(--rosa-faiup);
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 70px;
    border-radius: 15px;
}

.card button:hover{
    background-color: #67244f;
}

.card p{
    color: var(--branco-faiup);
    padding: 30px;
    font-family: 'Montserrat';
    width: 348px;
}

.banner-controles{
    margin-top: 80px ;
    background-image: url(img/banner-controles.png);
    background-repeat: repeat ;
    background-attachment: fixed;
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    z-index: -1;
}

.filtro h2{
    color:#E7EFF1;
    text-align: center;
    font-size: 24px;
    padding: 0px;
    margin-left: 40px;
}

.nuvem-banner-controles{
 z-index: 0;
    position: absolute;
    top: -150px;
    left: -200px;
}

#contato{
    margin-top: 170px;
    position: relative;
    width:100%;
}

.nuvem-contato{
position: absolute;
width: 300px;
top: -250px;
right: 5px;
}


.banner-formulario{
    margin: 120px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(13deg, rgba(31,13,65,1) 0%, rgba(31,13,65,1) 0%, rgba(112,42,87,1) 100%);
    height: 700px;
    width: 100%;
    
}

.banner-formulario img{
    height: 900px;
}


.contato{ 
width: 45%;
height:750px ;
border-radius: 20px;
margin: 0 auto;
padding: 60px 0px;
display: flex;
color: white;
font-family: 'Staatliches';
justify-content: center;
flex-direction: column;
align-items: center;
}

.campo{
    width: 70%;
    margin-bottom: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contato h3{
    margin-bottom: 20px;
}

.campo input {
    width: 100%;
    height: 53px;
    background-color: white;
    border: none;
    outline: none;
    text-indent: 10px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px;
    margin: 5px 0px;
  }

  .campo label{
    text-align: left;
  }
 
.campo-textarea{
    width: 70%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: left;
}

.campo-textarea
textarea{
    color: grey;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    outline: none;
    resize: none;
    border-radius: 10px;
    margin: 10px 0px;
}


.contato button {
    height: 60px;
    width: 30%;
    font-family: 'Staatliches';
    font-size: 17px;
    font-weight: 400;
    color:#ffffff;
   background-color: #67244f;
   border: none;
    border-radius: 10px;
    cursor: pointer;
  
  }
  .contato button:hover{
    background-color:#5f234b ;
  }


.nuvem-formulario{
    width: 600px;
    position: absolute;
    bottom: -420px;
    right: 0px;

}

footer{
    margin-top: 350px;
    background: url(img/fundo-footer.png);
    color: #E7EFF1;
    font-family: 'Staatliches';
}

#redes-sociais{
    text-align: center;
}

.redes-sociais{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
}

.redes-sociais div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redes-sociais div p{
    font-size: 28px;
    margin-left: 20px;
}

.redes-sociais svg{
    width: 50px;
}
.container-grid{
    padding: 55px;
    display: flex;
    justify-content: space-around;

}

.termos-e-condicoes{
    margin-top: 50px;
    text-align: end;
}

.copyright{
    padding: 10px;
    text-align: center;
}





