@media screen and (max-width: 1530px) {
    .banner{
        height: 100vh;
    }
    .conteudo-banner img {
        width: 200px;
    }

    .nuvem-sobre {
        display: none;
    }

    .nuvem-cases {
        display: none;
    }

    .nuvem-banner-controles {
        display: none;
    }



    .nuvem-contato {
        display: none;
    }

    img.nuvem-formulario {
        display: none;
    }
}

@media screen and (max-width: 1420px) {
    .conteudo-card {
        width: 330px;
    }
}

@media screen and (max-width: 1360px) {
    .conteudo-card {
        width: 300px;
    }

    .card img {
        width: 80%;
    }

    .card p {
        width: 90%;
    }
}

@media screen and (max-width: 1250px) {
    .cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 50px;
    }

    .conteudo-card {
        width: 400px;
    }
}

@media screen and (max-width: 1150px) {
    

    .conteudo-banner{
        margin-top: 100px;
    }

    div.container-grid .sobre-a-empresa {
        flex-direction: column;
    }

    div.sobre-a-empresa p {
        width: 60%;
    }

    div.sobre-a-empresa img {
        padding: 10px 0px;
        width: 40%;
    }

    .contato {
        width: 70%;
    }

    .banner-formulario img {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .banner{
        height: 65vh;
    }
  
    div.conteudo-banner {
        margin: 0 auto;
    }

    header {
        flex-direction: column;
        position: relative;
        justify-content: end;
    }

    header .container-grid button {
        display: unset;
        width: 50px;
        background: none;
        border: none;
        position: absolute;
        top: -300px;
        left: 30px;
    }
    header .container-grid button svg {
        width: 100%;
    }

    nav.menu {
        position: absolute;
        left: 0;
        top: 130px;
        height: 500px;
        width: 350px;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: space-around;
        background: unset;
        background-image: linear-gradient(90deg, rgba(31, 13, 65, 0.9) 0%, rgba(31, 13, 65, 0.9) 0%, rgba(112, 42, 87, 0.9) 100%);
        border: 2px solid white;



    }

    .menu {
        flex-direction: column;
    }

    #sobre{
        position: unset;
    }


}

@media screen and (max-width: 680px) {
    .banner{
        height: 55vh;
    }
    header{
        display: unset;
        margin: 0px;
        padding: 0px;

    }
   

    div.conteudo-banner img{
        width: 150px;
    }

    div.conteudo-banner span{
        font-size: 20px;
    }

    #sobre {
        width: 98vw;
    }

    .cases-de-sucesso{
        display: unset;
    }

    .conteudo-secao-sobre {
        border-radius: 0px;
        width: 100%;
    }

    .conteudo-secao-sobre p {
        width: 90%;
    }


    .contato {
        width: 98%;
    }

    form{
        width: 95%;
    }

    .banner-formulario {
        background-image: linear-gradient(90deg, rgba(31, 13, 65, 0.9) 0%, rgba(31, 13, 65, 0.9) 0%, rgba(112, 42, 87, 0.9) 100%), url(img/gato.png);
        background-color: #1F0D41;
        background-size: cover;
    }

    .redes-sociais div p {
        font-size: 20px;
    }

    #redes-sociais svg {
        width: 50px;
    }

    .termos-e-condicoes {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {

    .conteudo-secao-sobre .container-grid p {
        width: 90%;
    }

    .conteudo-secao-sobre .container-grid img {
        width: 50%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 50px;
    }

    .conteudo-card {
        height: 400px;
        width: 300px;
    }

    .card img {
        width: 60%;
    }

    .card p {
        padding: 10px;
        font-size: 14px;
        width: 80%;
    }

    .cards button {
        margin: 20px 0px 0px 0px;
        height: 70px;
        width: 200px;
        font-size: 20px;
    }
}

@media screen and (max-width: 560px) {

    #sobre{
        padding: 0px 0px 20px;
    }
    .banner-formulario{
        height: 800px;
        margin: 50px 0px 0px 0px;
    }
    .banner-controles{
        margin: 0;
    }
     .conteudo-banner {
        width: 60%;
    }

    .conteudo-banner span {
        font-size: 30px;
    }

    .conteudo-banner img {
        width: 200px;
    }
    section.cases-de-sucesso {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contato{
        margin-top: 0px;
        padding: 0px;
    }

    footer .container-grid{
        padding: 100px 30px;
    }

  
}

@media screen and (max-width: 480px) {


    .redes-sociais {
        padding: 30px 0px;
    }

    footer div.container-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .termos-e-condicoes {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {

    nav.menu{
        width: 250px;
    }
    section#contato{
        margin-top: 20px;
    }
    h2{
        font-size: 20px;
        margin-top: 50px;
        padding: 0px;
    }
    .conteudo-secao-sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo-secao-sobre .container-grid{
padding: 10px;
margin: 0 auto;
    }

    div.sobre-a-empresa p {
        width: 90%;
        text-align: center;
        font-size: 20px;
    }
    .botao-portfolio{
        margin: 0px;
width: 150px;
    }

    section.banner-controles{
        margin: 0px;
    }

    .cards{
        margin: 0px;
    }

    .cases-de-sucesso{
        width: 98vw;
        margin: 0px;
        padding: 0px;
    }

    .campo {
        flex-direction: column;
        align-items: center;
    }

    .campo,
    .campo-textarea {
        width: 85vw;

    }

    form.contato button {
        width: 100px;
    }

    div.conteudo-card{
        margin: 0px;
        width: 280px;
    }
}