
@font-face {
    font-family:'Staatliches';
    src: url(Staatliches/Staatliches-Regular.ttf);
}

@font-face {
     font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}



:root{
    --branco-faiup: #E7EFF1;
    --roxo-faiup: #1F0D41;
    --rosa-faiup: #702A57

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    height: 100vh;
    background-image:linear-gradient(90deg, rgba(31,13,65,0.9) 0%, rgba(31,13,65,0.9) 0%, rgba(112,42,87,0.9) 100%), url(img/banner.png);
    background-color: #1F0D41;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: auto;
}


header{
    padding: 75px;
  height: 160px;

}

header .container-grid{
      display: flex;
  justify-content: space-between;
 align-items: center;
}

.menu{
    padding: 0px 80px;
    background: linear-gradient(90deg, rgba(231, 239, 241, 0.286) 0%, rgba(231, 239, 241, 0.095)100%);
    border-radius: 10px;
    width: 80vw;
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   
}

.menu a{
    color: var(--branco-faiup);
    text-decoration: underline transparent;  
    transition: text-decoration ease-in-out 500ms;
    font-size: 20px;
    font-family: 'Staatliches';

}

.menu a:hover{
    text-decoration: underline;
  

}
.menu img{
    width: 100px;
    margin: 20px;
}

.conteudo-banner {
    margin-top: 100px;
    display: flex;
   align-items: center;
    flex-direction: column;
}

.conteudo-banner img{
    width: 350px;
}

.conteudo-banner span{
    color: var(--branco-faiup);
font-family:  'Staatliches';
font-size: 48px;
}

.conteudo-secao-sobre{
    background-color:var(--roxo-faiup);
    padding: 20px;
    height: 653px;
    width: 80vw;
    max-height: 700px;
    margin: 0 auto;
    border-radius: 10px;
}

#sobre {
    padding-bottom: 50px;
    width: 98vw;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

.nuvem-sobre {

    position: absolute;
    left: -200px;
    top: -100px;
}

.sobre-a-empresa{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 48px;
    text-align: center;
    margin: 60px;
    font-family: 'Staatliches';
    color:var(--rosa-faiup) ;
}



.sobre-a-empresa p{
    width: 30%;
    font-size: 24px;
    color: var(--branco-faiup);
    font-family: 'Staatliches';
    text-align: right;
    
   
  
}

.sobre-a-empresa img{
    width: 550px;
}

.botao-portfolio{
    border: 1px solid;
    border-color: #E7EFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(90deg, rgba(231, 239, 241, 0.318) 0%, rgba(231, 239, 241, 0.077)100%);
    width: 200px;
    height: 50px;
}

.botao-portfolio a{
    text-decoration: transparent;
    font-family: 'Staatliches';
    
    color: var(--branco-faiup);
}
.botao-portfolio:hover{
    height: 60px;
    width: 220px;
}

.cases-de-sucesso{
    width: 98vw;
    position: relative;
}

.cards{
    display: flex;

}


.conteudo-card{
    background-color: var(--roxo-faiup);
    max-width: 600px;
    height: 620px;
    width: 460px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 358px;
}

.card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card button{
    border: none;
    margin-top: 40px ;
    color: var(--branco-faiup);
    font-family: 'Staatliches';
    font-size: 36px;
    background-color: var(--rosa-faiup);
    padding: 10px;
    text-align: center;
    width: 294px;
    height: 96px;
    border-radius: 10px;
}

.card p{
    color: var(--branco-faiup);
    padding: 30px;
    font-family: 'Montserrat';
    width: 348px;
}

